
.containerWords{
    display: grid;
    gap: 1rem;
}

.words{
    margin: 0;
    li{
        margin-bottom: .3rem;
    }
}

.titleResult{
    text-align: center;
    margin: 0 0 .3rem 0;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.subtitleResult{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--grayLetter);
}

@media(min-width: 480px){
    .containerWords{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}